body {
    background-color: #e1e0e0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 32px;
}

button {
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#signin {
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#join {
    margin-right: 20px;
    background-color: #333;
    color: #fff;
}

#create {
    background-color: #333;
    color: #fff;
}