<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Create family</h1>
      <a href="{{ url_for('signout') }}"
        ><button id="signin">Sign Out</button></a
      >
      <a href="{{ url_for('index') }}" class="home-button">
        <img
          src="{{ url_for('static', filename='images/home-icon.png') }}"
          alt="Home"
          class="home-icon"
        />
      </a>
    </header>
    <main>
      {% if joinID != False %}
        <h2>Please write down the following join code for your family: {{ joinID }} </h2>
      {% endif %}

      <form action="{{ url_for('create') }}" method="POST">
        <label for="family-name">Family Name</label>
        <input type="text" name="family-name" id="family-name" />
        <button type="submit">Create</button>
      </form>
  </body>
</html>
