<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Family Page</h1>
      <a href="{{ url_for('signout') }}"
        ><button id="signin">Sign Out</button></a
      >
      <a href="{{ url_for('index') }}" class="home-button">
        <img
          src="{{ url_for('static', filename='images/home-icon.png') }}"
          alt="Home"
          class="home-icon"
        />
      </a>
    </header>
    <main>
      <div class="family-container">
        {% if families|length > 0 %}
          {% for f in families %}
            <div class="family-box">
              <div class="family-header">
                <h2>{{ f.familyName }}</h2>
              </div>
              <div class="members-container">
                <h3>Members</h3>
                <div class="members-box">
                  {% for member in familyMembers %}
                    <div class="member">
                      <p>{{ member.username }}: {{ member.status }}</p>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="no-family-message">
            <p>Sorry, you do not seem to be part of a family, please join one and check back here.</p>
          </div>
        {% endif %}
      </div>
    </main>
  </body>
</html>
