<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <title>Join family</title>
  <body>
    <header>
      <h1>Join family</h1>
      <a href="{{ url_for('signin') }}"
        ><button id="signin">Sign in/register</button></a
      >
      <a href="{{ url_for('index') }}" class="home-button">
        <img src="images/home-icon.png" alt="Home" class="home-icon" />
      </a>
    </header>
    <main>
      <p>Welcome to the join family page.</p>
    </main>
  </body>
</html>
