<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <title>Join family</title>
  <body>
    <header>
      <h1>Join family</h1>
      <a href="{{ url_for('signout') }}"
        ><button id="signin">Sign Out</button></a
      >
      <a href="{{ url_for('index') }}" class="home-button">
        <img
          src="{{ url_for('static', filename='images/home-icon.png') }}"
          alt="Home"
          class="home-icon"
        />
      </a>
    </header>
    <main>
      <main>
        <form action="{{ url_for('join') }}" method="POST">
          <label for="family-name">Family Join Code</label>
          <input type="text" name="family-join-code" id="family-join-code" />
          <button type="submit">Create</button>
        </form>
    </main>
  </body>
</html>
